txt/
tbl/
.vscode/launch.json
a.out
dropsim
dropsimbase
dropsim.exe
dropsim.pdb
dropsolver
dropsolverbase
dropsolver.exe
dropsolver.pdb
test
test.exe
test.pdb
*.txt
!atomic.txt
!atomicbase.txt
*.user
.vs
obj
