/docs/*.yml
/docs/*.html
/docs/*.js
/docs/*.css
/docs/*.md
/docs/drops
/docs/images
/docs/leveling
/docs/runewords
/tbl
/txt
.gitignore
.npmignore
/*.yml
/*.js
/*.php
/*.json
/*.html
/json/.gitkeep
/json/base/.gitkeep
/json/precalctc/.gitkeep
/json/base/precalctc/.gitkeep
dropsim.cpp
dropsim
a.out
*.txt
